body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header {
  background-color: #404040;
  padding: 1rem;
}
header a {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}
main{
  padding: 1rem;
}
.products{
  display: flex;
  flex-wrap: wrap ;
  justify-content: center;
}
.product{
  border: 1px #404040 solid;
  margin: 1rem;
}
.product img{
  width: 100%;
  max-width: 200px;
}
.product-info{
  padding: 1rem;
}